@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

#fireworks-canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

h1 {
    color: #fff;
    font-size: 5em;
    font-family: 'ZCOOL KuaiLe', cursive;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff00de, 0 0 20px #ff00de;
}
